[Bb]in
[Oo]bj
.vs

# Added by cargo
/target

# python
__pycache__/

# dotnet
Solutions/csharp/Properties/launchSettings.json

# java
*.class

# kotlin
META-INF
*.class

# haskell
*.hi
*.o

# windows execution build
*.exe

# Clojure
.clj-kondo

# lisp
.lsp

