(ns y<year>.Solution<day>)

(defn Part1 [input_file] (println "Part1 not yet implemented."))
(defn Part2 [input_file] (println "Part2 not yet implemented."))

(defn Solve [input_file]
  (Part1 input_file)
  (Part2 input_file) )

(Solve (nth *command-line-args* 2))