using AdventOfCode;

namespace Solutions.y<year>d<day>;

[Solution(<iyear>, <iday>)]
public class Solution<day>
{
    [Part1]
    public void Part1(string filename)
    {
        
    }

    [Part2]
    public void Part2(string filename)
    {
        
    }
}
