package y<year>

import (
	"fmt"
)

type Solution<day> struct{}

func (s *Solution<day>) Part1(filename string) {
	fmt.Println("Part1 not yet implemented.")
}

func (s *Solution<day>) Part2(filename string) {
	fmt.Println("Part2 not yet implemented.")
}