module Solutions.Haskell.Y<year>.Solution<day> where

solution<day> :: String -> IO()
solution<day> inputFile = do
    part1 
    part2

part1 :: IO()
part1 = putStrLn "Part1 not yet implemented."

part2 :: IO()
part2 = putStrLn "Part2 not yet implemented."
