module Solutions.Haskell.Y<year>.Solution<day> where

solution<day> :: String -> IO()
solution<day> inputFile = do
    part1 inputFile
    part2 inputFile

part1 :: String -> IO()
part1 inputFile = putStrLn "Part1 not yet implemented."

part2 :: String -> IO()
part2 inputFile = putStrLn "Part2 not yet implemented."
