package Solutions.java.y<year>;

import Solutions.java.Solution;

public class Solution<day> implements Solution {

    @Override
    public void Part1(String inputFile) {
        System.out.printf("Part1 not yet implemented.\n");
    }

    @Override
    public void Part2(String inputFile) {
        System.out.printf("Part2 not yet implemented.\n");
    }
    
}
