local solution<day> = {}

local file = require("Solutions.lua.file")

function solution<day>.part1 (inputfile)
    print("Part1 not yet implemented.")
end

function solution<day>.part2 (inputfile)
    print("Part2 not yet implemented.")
end

return solution<day>