<?php 

include dirname(__DIR__)."\Solution.php";

class SolutionDD implements Solution {
    public function Part1($inputFile) {

    }
    
    public function Part2($inputFile) {
       
    }
}
?>